#performance-table {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;
}

table {
    border-collapse: collapse;
    background-color: white;
    text-align: left;
    overflow: hidden;
    box-shadow: 0 5px 10px rgb(221, 221, 221);
}

thead {
    box-shadow: 0 5px 10px rgb(221, 221, 221);
}

th {
    padding: 20px 30px;
    letter-spacing: 2px;
    font-size: 16px
}

td {
    padding: 20px 30px;
    font-size: 14px;
}

.favorable {
    color: #2dc295;
}

.unfavorable {
    color: #f34f51;
}